CompileFlags:
  CompilationDatabase: build
  Add:
    - "-isystem/usr/lib/gcc/arm-none-eabi/13.2.1/include"
    - "-isystem/usr/lib/gcc/arm-none-eabi/13.2.1/include-fixed"
    - "-isystem/usr/lib/arm-none-eabi/include"